@font-face {
    font-family: 'BebasNeue'; /* O nome que você vai usar no código */
    src: url('../assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'MinhaFonteCustomizada', sans-serif;
    background-color: #000000;
}

main {
    align-content: center;
    height: 100vh;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

#botaoAlterarTema {
    position: absolute;
    right: 2em;
    top: 2em;
    border: none;
}

h1 {
    color: #FFFFFF;
    font-size: 3em;
    margin: 1em 0;
    font-weight: 500;
    letter-spacing: 0.12em;
}

p {
    color: #FFFFFF;
    font-size: 1.2em;
    margin-top: 0.5em;
    opacity: 0.8;
}

.perfis-lista {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2.7em;
}

.perfil {
    opacity: 0.7;
}

.perfil:hover {
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
}

.perfil img {
    width: 100%;
    height: 25vh;
    border-radius: 5px;
}

img:hover {
    border: 3px solid #FFFFFF;
    cursor: pointer;
}

.divisao-botao {
    display: flex;
    justify-content: center;
}

.botao {
    margin-top: 4em;
    padding: 0.8em 1.9em;
    background-color: #000000;
    border: 0.08rem solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 0.3rem;
    opacity: 0.6;
    letter-spacing: 0.30em;
}

.botao:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 600px) {
    #botaoAlterarTema {
        order: -1;
        height: 10vh;
        margin: 1em 0;
        top: 0.4em;
    }

    header {
        padding: 2em;
    }

    h1 {
        font-size: 2.3em;
        letter-spacing: 0.12em;
        margin: 2em 0.2em;
    }

    .perfis-lista {
        flex-direction: column;
        align-items: center;
    }

    img {
        height: 26vh;
    }

    .botao {
        margin: 3em 0;
        padding: 0.8em 1.4em;
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    #botaoAlterarTema {
        position: relative;
        right: inherit;
        top: inherit;
        order: -1;
        height: 10vh;
        margin: 1em 0;
    }

    h1 {
        font-size: 1.2em;
        letter-spacing: 0.12em;
        margin: 2em 0;
    }

    .perfis-lista {
        flex-direction: column;
        align-items: center;
    }

    img {
        height: 18vh;
    }

    .botao {
        margin: 3em 0;
        padding: 0.7em 1.2em;
        font-size: 0.8em;
    }
}


